*{

}

body{
	background-color: black;
}

div{
	background-color:#66FF33;/*#66FFFF;/* #FF8026;*/
	text-align:center;
	border-radius:5px;
	
}

a{
	
	color: #FF00FF;
	text-decoration:none;
}

p{
	font-size: 2em;
}
#top{
	background-color:black;
	height: 30px;
}

#back{
z-index:1;
background-color:black;
position: absolute;
height:40px;
width:100%;
bottom:35px;
}

#text{
	border-radius: 25px;
	width:700px;
	margin: auto;
}

#links{
border-radius:0px;
font-size: 1.4em;
color:black;
position: absolute;
height:40px;
width:100%;
line-height:40px;
bottom:0px;
word-spacing:2em;
}

#aboutMe{

}

#img {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 350px;
   height: 240px;
   margin-top: -75px; /* Half the height */
   margin-left: -175px; /* Half the width */
}